.photo-grid {
    margin: 0 auto;
    max-width: calc(100% - 2*48px);
    margin-top: 9vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    gap: 16px 16px;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(28vw, 1fr));
        gap: 14px 14px;
        margin-top: 7.2vh;
    }
 }
    
