.lead {
    margin: 0 auto;
    margin-top: 4.4vh;
    max-width: calc(100% - 2*148px);
}

@media screen and (max-width: 1279px) {
   .lead {
    max-width: calc(100% - 2*48px);
    margin-top: 4.7vh;
   }
}

@media screen and (max-width: 1023px) {
    .lead {
     max-width: 100%;
     margin-top: 4.7vh;
    }
}

@media screen and (max-width: 767px) {
    .lead {
     max-width: 100%;
     margin-top: 6.3vh;
    }
}
