.cover__subtitle {
    margin: auto;
    max-width: 360px;
    margin-top: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    color: #FFFFFF;
}

@media screen and (max-width: 1279px) {
    .cover__subtitle {
     max-width: 35.2vw;
     margin-top: 2.5vh;
    }
}

@media screen and (max-width: 1023px) {
    .cover__subtitle {
     max-width: 46.9vw;
     margin-top: 3.1vh;
    }
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        max-width: 90vw;
        margin-top: 2.1vh;
        font-size: 14px;
        line-height: 16px;
    }
}