.header {
    max-width: 92vw;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    color: white;
}