.intro {
    margin: 0;
    max-height: 41.9vh;
    margin-top: 11.1vh;  
    max-width: 53.9vw;
    margin-left: 11.6vw;
}

@media screen and (max-width: 1279px) {
    .intro {
        margin-left: 4.7vw;
        max-width: 67.4vw;
        margin-top: 8.9vh;
    }
}