.cover__overlay {
    background-image: url(../../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    z-index: 0;
    max-width: 1184px;
    min-height: 740px;
}

.cover__overlay::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: .3;
    z-index: -1;
    transition: opacity .3s ease;
}

.cover__overlay:hover::before {
    opacity: .8;
}

@media screen and (max-width: 1279px) {
    .cover__overlay {
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__overlay {
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__overlay {
        min-height: 400px;
    }
}

@media screen and (max-width: 550px) {
    .cover__overlay {
        min-height: 350px;
    }
}

@media screen and (max-width: 320px) {
    .cover__overlay {
        min-height: 200px;
    }
}