.lead__caption {
    max-width: 12.5vw;   
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media screen and (max-width: 1279px) {
    .lead__caption {
        max-width: 15.6vw; 
    }
}

@media screen and (max-width: 1023px) {
    .lead__caption {
        max-width: 20.8vw;
        margin-left: 3.1vw; 
    }
}

@media screen and (max-width: 767px) {
    .lead__caption {
        max-width: 49.8vw;
        margin-left: 5.0vw; 
    }
}