.cover__title {
    max-width: 44vw;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    margin: 0 auto;
    margin-top: 23.9vh;
    color: #FFFFFF;
}

@media screen and (max-width: 1279px) {
    .cover__title {
     max-width: 54.7vw;
     margin-top: 15.2vh;
    }
}

@media screen and (max-width: 1023px) {
    .cover__title {
     max-width: 72.9vw;
     margin-top: 11.2vh;
    }
}

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 79.7vw;
        margin-top: 4.3vh;
    }
    
}