.place { 
    margin: 0;
    padding: 0;
    margin-bottom: 7.8vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 40px;
    row-gap: 48px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
    .place {
        column-gap: 32px;
        margin-bottom: 6.3vh;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        margin-bottom: 7.1vh;
        column-gap: 28px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        margin-bottom: 6.5vh;
        display: flex;
        flex-direction: column;
        column-gap: 0;
        row-gap: 0;  
    }
}
